@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

body {
    background-color: #191970;
    width: auto;
    margin: auto;
    font-family: 'Kavoon';
}

.header {
    background: #080E1E;
    padding: 20px;
}

.textheader {
    color: white;
    font-size: 24px;
    text-align: center;
}

.article {
    color: white;
    font-size: 24px;
    width: 600px;
    margin: auto;
}

.retourbouton {
    display: flex;
    justify-content: center;
    background-color: #080E1E;
    text-align: center;
    border: 1px solid #080E1E;
    border-radius: 40px;
    width: 400px;
    margin: auto;
}

.bouton {
    display: flex;
    justify-content: center;
    background-color: #080E1E;
    text-align: center;
    border: 1px solid #080E1E;
    border-radius: 40px;
    width: 400px;
    margin: auto;
}

.menu {
    color: white;
    font-size: 24px;
    text-decoration: none;
    padding-top: 20px;
}

.nav {
    display: flex;
    justify-content: space-evenly;
}

input {
    width: 30px;
    height: 30px;
}

.vrai, .faux, .reponse {
    display: none;
}

.faux {
    color: red;
}

.vrai {
    color: green;
}

.logo {
    position: absolute;
    float: left;
    width: 300px;
    height: 50px;
}

.img {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 350px;
    margin: auto;
}

.leftarrow {
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 14px;
    margin-right: 80px;
}

.rightarrow {
    float: right;
    width: 50px;
    height: 50px;
    margin-top: 14px;
    margin-left: 30px;
}

@media only screen
and (min-device-width : 0px)
and (max-device-width : 390px)
and (orientation : portrait) {

    .textheader {
        padding-top: 100px;
    }

    .article {
        font-size: 32px;
    }

    .menu {
        font-size: 32px;
    }

    .bouton, retourbouton {
        border-radius: 100px;
        width: 400px;
        margin: auto;
    }

    input {
        width: 50px;
        height: 50px;
    }

    .img {
        width: 500px;
        height: 500px;
    }

    .leftarrow {
        width: 75px;
        height: 75px;
        margin-top: 12px;
        margin-right: 60px;
    }
    
    .rightarrow {
        width: 75px;
        height: 75px;
        margin-top: 12px;
        margin-left: 20px;
    }
}